@{
    ViewData["Title"] = "Juntoz Chile";
}

<div class="landing-chile container-fluid">
    <div class="content row">
        <div class="logo col-xs-12">
            <img src="https://juntoz.com/Content/images/logos/logo-juntoz-web.png" alt="" class="img-responsive">
        </div>
        <div class="message col-xs-12">
            <p class="big-text">
                EL mall online más grande
                <br> de latinoamérica llega a chile
            </p>
            <p class="small-text">
                <span class="blue-text">Sé el primero en conocer </span> y recibir las promociones
                <br class="hidden-xs"> que tenemos para ti ...
            </p>
        </div>
        <div class="form col-xs-12">
            <form>
                <p>Suscríbete:</p>
                <label class="check-container radio-inline">
                    <input type="radio" name="gender" value="hombre" required> Hombre
                    <span class="checkmark"></span>
                </label>
                <label class="check-container radio-inline">
                    <input type="radio" name="gender" value="mujer"> Mujer
                    <span class="checkmark"></span>
                </label>
                <div class="input-group">
                    <input type="email" class="form-control" placeholder="Dejanos tu Email" aria-describedby="suscribirme" id="email" required>
                    <span class="input-group-addon" id="suscribirme">suscribirme</span>
                </div>
                <span id="errorText">Falta campos por llenar</span>
                <span id="successText">Gracias por suscribirte</span>
            </form>
            
        </div>
        <div class="follow col-xs-12">
            <span>Siguenos: </span>
            <a href="https://www.facebook.com/JuntozOficial/" target="_blank">
                <img src="~/images/facebook-chile.png" alt="" class="">
            </a>
            <a href="https://www.instagram.com/juntozoficialpe/" target="_blank">
                <img src="~/images/instagram-chile.png" alt="">
            </a>
            <a href="https://juntoz.com.co/es-co/" target="_blank">
                <img src="~/images/colombia.png" alt="">
            </a>
            <a href="https://juntoz.com/" target="_blank">
                <img src="~/images/peru.png" alt="">
            </a>
            <a href="">
                <img src="~/images/chile.png" alt="">
            </a>
        </div>
    </div>

</div>